
@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Lora|Roboto+Slab&display=swa");

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css");
@import url("components/form.css");
@import url("components/img-square.css");

body {
	font-family: 'Lora', serif;
	font-size: 20px;
	margin: 0px;
	text-align: justify;
	color: #26190B;
	background-image:
		linear-gradient(rgba(255,238,207,0.8), rgba(255,238,207,0.8)),
		url(../images/book14.jpg);
	background-size: cover;
	background-position: center;
}

h1, h2, h3 {
	font-family: 'EB Garamond', serif;
	font-weight: bold;
	color: #0F0A04;
}

a {
	text-decoration: none;
	color: rgb(230,230,230);
	transition: 0.3s ease;
}

a:hover {
	color: #a13e2d;
	font-weight: bold;
	font-size: 23px;
}

